// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #89B3D0;
$nav-bg:                $brand-primary;
$nav-color:             white;

$box-shadow:            0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

// Fonts
$font:                  "Didact Gothic", sans-serif;

